<h1>Welcome To Idea Box</h1>
<p>Think outside the box after putting your ideas in one</p>

<div class="new-idea">
  Title:
  <input class="idea" id="title" placeholder="title" type="text"><br>
  Idea:
  <input class="idea" id="body" placeholder="idea" type="text"><br>
  <input id="submit" type="button" name="submit" value="Save">
</div>

<div id="ideas"></div>

<script>
var id = ''
var buttons = "<button class='delete'>" + 'Delete' + "</button>"
+ "<button class='thumbs up'>" + 'thumbs up' + "</button>"
+ "<button class='thumbs down'>" + 'thumbs down' + "</button>"

$(document).ready(function(){
  function renderIdeas(ideas) {
    $.each(ideas, function(index, idea){
      $('#ideas').append(
        "<div id='" + idea.id + "'><div class='edit' contenteditable='true'><h3>"
        + idea.title + "</h3><p>"
        + idea.body + "</p><p></div>"
        + "<div class='quality'>" + 'Quality: ' + idea.quality + "</div>"
        + buttons
        + "</p></div>"
      )
    })
  }

  // searchbox = document.getElementById('searchboxID');
    // edit = document.getElementByClass("edit")
    // edit.addEventListener('blur', function() {
    // var input = this.value;
    // });

  $("#ideas").on("blur", ".edit", function(){
    var title = $(this).children("h3").text()
    var body = $(this).children("p").text()
    // var quality = $(this).siblings("div").text()
    var id = $(this).parent().attr("id")
    $.ajax({
      type: "PATCH",
      url: "/api/v1/ideas/" + id + ".json",
      data: { idea: { title: title, body: body }},
      success: function(){

      }
    })
  })

  function createIdea(idea){
    $("#ideas").prepend(
      "<div id='" + idea.id + "' class='edit' contenteditable='true'><h3>"
      + idea.title + "</h3><p>"
      + idea.body + "</p><p>"
      + "<div class='quality'>" + 'Quality: ' + idea.quality + "</div>"
      + buttons
      + "</p></div>"
    )
    $("input.idea").val(null)
  }

  $.ajax({
    type: "GET",
    url: "/api/v1/ideas.json",
    success: function(ideas) {
      renderIdeas(ideas)
    },
  });

  $("#submit").on("click", function(){
    var title      = $("#title").val()
    var body       = $("#body").val()
    var idea = { title: title, body: body }
    $.ajax({
      type: "POST",
      url: "/api/v1/ideas.json",
      data: {idea: idea},
      success: function(idea){
        createIdea(idea)
      }
    })
  })

  $("#ideas").on("click", ".delete", function(events){
    id = this.closest("div").id
    $.ajax({
      type: "DELETE",
      url: "/api/v1/ideas/" + id + ".json",
      success: function(){
        $("#" + id).closest("div").fadeOut()
      }
    })
  });

  $("#ideas").on("click", ".thumbs", function(){
    id = this.closest("div").id

    if($(this).hasClass("up")) {
      var amount = 1
    } else {
      var amount = -1
    }

    $.ajax({
      type: "PATCH",
      data: { quality: amount },
      url: "/api/v1/ideas/" + id + ".json",
      success: function(){
        $.ajax({
          type: "GET",
          url: "/api/v1/ideas/" + id + ".json",
          success: function(idea) {
            var quality = idea.quality
            $("#" + id).children("div").last().text("Quality: " + quality)
          }
        })
      }
    })
  })

})
</script>
