<div class="nav">
  <ul>
    <li><a id="genius" href="#">Genius</a></li>
    <li><a id="plausible" href="#">Plausible</a></li>
    <li><a id="swill" href="#">Swill</a></li>
    <li><a id="all" href="#">All Ideas</a></li>
    <li><a id="sort" href="#">Sort</a></li>
    <li><input id="search" type="text" name="search" placeholder="Search Ideas"></a></li>
  </ul>
</div>

<h1>Welcome To Idea Box</h1>

<p class="tag-line">Put your ideas in a box instead of your head</p>

<div class="new-idea">
  Title:<br>
  <input class="idea" id="title" type="text"><br>
  Idea:<br>
  <input class="idea" id="body" type="text"><br>
  <input id="submit" type="button" name="submit" value="Save">
</div>

<div id="ideas"></div>

<script>
  var id = ''
  var buttons = "<button class='delete'>" + 'Delete' + "</button>"
  + "<button class='thumbs down'>" + 'thumbs down' + "</button>"
  + "<button class='thumbs up'>" + 'thumbs up' + "</button>"

  function renderIdeas(ideas) {
    $.each(ideas, function(index, idea){
      $('#ideas').append(
        "<div class='each-idea' id='" + idea.id + "'><div class='edit' contenteditable='true'><h3>"
        + idea.title + "</h3><p>"
        + idea.body + "</p><p></div>"
        + "<div class='quality'>" + 'Quality: ' + idea.quality + "</div>"
        + buttons
        + "</p></div>"
      )
    })
  }

  function fetchIdeas(){
    $.ajax({
      type: "GET",
      url: "/api/v1/ideas.json",
      success: function(ideas) {
        renderIdeas(ideas)
      },
    });
  }

  function removeIdeas(){
    $("#ideas").children().remove()
  }
</script>
