#body {
  height: 100px;
}

.idea {
  width: 300px;
  border: 2px solid #ccf6ff;
  font-family: Sans-serif;
}

.new-idea {
  background-color: #e0e0eb;
  width: 316px;
  padding: 15px;
  padding-left: 2%;
  height: 190px;
  font-family: Sans-serif;
}

#ideas {
  padding: 2px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #ebf0fa;
  font-family: Sans-serif;
}

.each-idea {
  width: 330px;
  float; left;
  display: inline-block;
  padding: 5px;
}

h1 {
  padding-left: 2%;
  font-family: Sans-serif;
}

.tag-line {
  padding-left: 2%;
  font-family: Sans-serif;
  font-style: italic;
}

#submit {
  float: left;
  background-color: #0092b3;
  color: white;
  font-size: 10px;
  border: none;
  outline: none;
  margin-top: 5px;
  font-family: Sans-serif;
}

#submit:hover:not(.active) {
  background-color: #00bbe6;
}

#submit:active {
  transform: translateY(2px);
}

.delete {
  float: left;
  background-color: #b30000;
  color: white;
  font-size: 10px;
  border: none;
  outline: none;
  margin-top: 5px;
  font-family: Sans-serif;
}

.delete:hover:not(.active) {
  background-color: #cc0000;
}

.delete:active {
  transform: translateY(2px);
}

.thumbs {
  margin-left: 5px;
  background-color: #0092b3;
  color: white;
  font-size: 10px;
  font-family: Sans-serif;
  border: none;
  outline: none;
  margin-top: 5px;
}

.thumbs:hover:not(.active) {
  background-color: #00bbe6;
}

.thumbs:active {
  transform: translateY(2px);
}
